---
import {Image} from 'astro:assets';
import { Icon } from 'astro-icon/components'

interface Props {
  title: string;
  description: string;
  image: string;
  iconName: string;
  slug: string;
  content: string;
}
const { title, description, image, iconName, slug } = Astro.props;

---
<div class="flex border-2 border-camouflage-800 hover:shadow-illuminate flex-col items-center rounded-lg  transition-transform transform hover:scale-105 ">
  <Image 
    src={image}
    transition:name={image}
    alt="Imagen de un sol" 
    width={100} height={100} 
    class="w-full h-96 flex rounded-t-lg transition-all duration-300" />
  <div class="flex flex-1 flex-col justify-between text-white p-6 bg-gray-900 gap-4 rounded-b-lg w-full">
    <div transition:name={slug} class="flex flex-row items-center gap-4">
      <Icon name={iconName} size={48} color="#eab308"/>
      <h2 class="text-2xl font-bold">
        {title}
      </h2>
    </div>
    <p class="text-lg leading-relaxed">
      {description}
    </p>
    <a href={`/${slug}`} class="mt-4 text-camouflage-400 font-semibold hover:underline">
      Más información →
    </a>
  </div>
</div>

<style>
  h2 {
    font-family: 'Monteserrat-Bold';
  }
  p {
    font-family: 'Montserrat';
  }
</style>